*{
    margin:1rem;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#3f3b3f;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:white;
  
}
.page_title{
    display:flex;
    justify-content:center;
}
.media_title, .challenge_title, .themes_title{
    padding-top:1rem;
}
.profile_pic{
    width: 300px;
    border-radius: 24px;
}
.personal_card{
    display:flex;
    align-items:center;
    gap:2rem;
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width:80%;
}
.intro_par{
    width:60%;
    line-height:2;
    font-size:1.125rem;
    text-align:left;

} 
.p{
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
}
.media_cards{
    display:flex;
    width:80vw;
}
.visual_title, .audio_title, .social_title, .chal_title{
    display:flex;
    justify-content:center;
    font-size:1.25rem;
}
.parent{
    font-size:1.1rem;
}
.visual_media{
    padding:10px;
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width:33.3%;
}
.audio_media{
    padding:10px;
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width: 33.3%;
}
.social_media{
    padding:10px;
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width:33.3%;
}
.challenges{
    display:flex;
    gap:1rem;
    padding-bottom:3rem;
}
.visual_chal, .audio_chal, .social_chal{
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width:33%;
    padding:15px;
}
.assignment_link{
    text-decoration:none;
    color:black;
}
.assignment{
    padding:1rem .6rem;
    border-radius:10rem;
    cursor:pointer;
}
.themes_wrapper, .changes_wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.themes_card, .changes_card{
    border-radius: 46px;
    background: linear-gradient(145deg, #393539, #433f43);
    box-shadow:  9px 9px 26px #272527,
                 -9px -9px 26px #575157;
    width:80%;
    padding:15px;
    line-height:1.2;
}
.changes_card{
    line-height:2;
}
.students_links{
    margin:0;
    color:Aqua;
    cursor:pointer;
}